// Variables
html {
    --yellow-width: 40%;
    --yellow-height: calc(30vw + 24px + 48px);
}

@font-face {
    font-family: "Mak";
    src: url("/assets/fonts/mak/mak.woff");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

/* nunito-200 - latin */
@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 200;
    src: url("/assets/fonts/nunito/nunito-v23-latin-200.eot"); /* IE9 Compat Modes */
    src: local(""), url("/assets/fonts/nunito/nunito-v23-latin-200.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("/assets/fonts/nunito/nunito-v23-latin-200.woff2") format("woff2"),
        /* Super Modern Browsers */ url("/assets/fonts/nunito/nunito-v23-latin-200.woff") format("woff"),
        /* Modern Browsers */ url("/assets/fonts/nunito/nunito-v23-latin-200.ttf") format("truetype"),
        /* Safari, Android, iOS */ url("/assets/fonts/nunito/nunito-v23-latin-200.svg#Nunito") format("svg"); /* Legacy iOS */
}
/* nunito-regular - latin */
@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    src: url("/assets/fonts/nunito/nunito-v23-latin-regular.eot"); /* IE9 Compat Modes */
    src: local(""), url("/assets/fonts/nunito/nunito-v23-latin-regular.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("/assets/fonts/nunito/nunito-v23-latin-regular.woff2") format("woff2"),
        /* Super Modern Browsers */ url("/assets/fonts/nunito/nunito-v23-latin-regular.woff") format("woff"),
        /* Modern Browsers */ url("/assets/fonts/nunito/nunito-v23-latin-regular.ttf") format("truetype"),
        /* Safari, Android, iOS */ url("/assets/fonts/nunito/nunito-v23-latin-regular.svg#Nunito") format("svg"); /* Legacy iOS */
}
/* nunito-300 - latin */
@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 300;
    src: url("/assets/fonts/nunito/nunito-v23-latin-300.eot"); /* IE9 Compat Modes */
    src: local(""), url("/assets/fonts/nunito/nunito-v23-latin-300.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("/assets/fonts/nunito/nunito-v23-latin-300.woff2") format("woff2"),
        /* Super Modern Browsers */ url("/assets/fonts/nunito/nunito-v23-latin-300.woff") format("woff"),
        /* Modern Browsers */ url("/assets/fonts/nunito/nunito-v23-latin-300.ttf") format("truetype"),
        /* Safari, Android, iOS */ url("/assets/fonts/nunito/nunito-v23-latin-300.svg#Nunito") format("svg"); /* Legacy iOS */
}
/* nunito-600 - latin */
@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 600;
    src: url("/assets/fonts/nunito/nunito-v23-latin-600.eot"); /* IE9 Compat Modes */
    src: local(""), url("/assets/fonts/nunito/nunito-v23-latin-600.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("/assets/fonts/nunito/nunito-v23-latin-600.woff2") format("woff2"),
        /* Super Modern Browsers */ url("/assets/fonts/nunito/nunito-v23-latin-600.woff") format("woff"),
        /* Modern Browsers */ url("/assets/fonts/nunito/nunito-v23-latin-600.ttf") format("truetype"),
        /* Safari, Android, iOS */ url("/assets/fonts/nunito/nunito-v23-latin-600.svg#Nunito") format("svg"); /* Legacy iOS */
}

html,
body {
    /* display: flex; */
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: Nunito, sans-serif;
    font-weight: 300;
    position: relative;
}

a {
    color: #82a9dd;
    transition: color 300ms ease;
    text-decoration: none;
    font-family: Mak, sans-serif;
    letter-spacing: 1px;
    -webkit-tap-highlight-color: transparent;
    &:hover, &:focus, &:active {
        text-decoration: none;
        color: #ffcd1b;
   }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    font-family: Mak, sans-serif;
    font-weight: 400;
    font-size: 36px;
    color: #ffcd1b;
    text-align: center;
    margin: 0;

     @media only screen and (min-width: 1024px) {
        font-size: 64px;
        text-align: left;
    }
     @media only screen and (min-width: 1536px) {
        font-size: 96px;
    }
}
