.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.blue__wrapper {
    width: 100%;
    flex-grow: 1;
    background-color: #001945;
    position: relative;
    height: 65vh;

    @media only screen and (min-width: 992px) {
        width: 60vw;
        height: 100%;
        display: flex;
        align-items: center;
    }
}

.blue__background {
    // mix-blend-mode: screen;
    opacity: 15%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
}

.blue__foreground {
    position: relative;
    padding: 20px;
    @media only screen and (min-width: 992px) {
        display: flex;
        align-items: center;
    }
}

.home__link {
    font-family: Nunito;
    color: white;
    font-size: 18px;
    margin-bottom: 36px;
    display: flex;
    align-items: center;

    // Emoji
    span {
        font-size: 36px;
    }
}

.headline__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 36px;
    h1 {
        padding: 0 20px;
        @media only screen and (min-width: 992px) {
            padding: 0;
        }
    }
}

.texts__wrapper {
    height: 350px;
    overflow-y: scroll;
    // Place for scrollbar
    margin-right: -20px;
    padding-right: 20px;
    // Place for wave
    padding-bottom: 48px;

    .text {
        color: #ffeaa0;
        line-height: 150%;
        text-align: center;
        transition: color 300ms ease;
        margin-bottom: 16px;
        @media only screen and (min-width: 992px) {
            text-align: left;
        }
    }
}

.yellow__wrapper {
    width: 100%;
    height: 35vh;
    background-color: #f4d566;

    @media only screen and (min-width: 992px) {
        width: 40vw;
        height: 100%;
        display: flex;
        align-items: center;
    }
}

.canvas__wrapper {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    height: 100%;
    @media only screen and (min-width: 992px) {
        flex-direction: column;
    }
}
