.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    @media only screen and (min-width: 1024px) {
        flex-direction: row;
    }
}

.blue__wrapper {
    width: 100%;
    flex-grow: 1;
    background-color: #001945;
    position: relative;
    height: 65vh;

     @media only screen and (min-width: 1024px) {
        width: 60vw;
        height: 100%;
        display: flex;
        align-items: center;
    }
}

.blue__background {
    opacity: 15%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
     @media only screen and (min-width: 1024px) {
        padding: 0 48px;
    }
}

.blue__foreground {
    position: relative;
    padding: 20px;
    height: 100%;
     @media only screen and (min-width: 1024px) {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 36px 128px 36px 86px;
    }
    @media only screen and (min-width: 1536px) {
        padding: 64px 128px;
    }
}

.home__link {
    font-family: Nunito;
    color: white;
    font-size: 18px;
    margin-bottom: 36px;
    display: flex;
    align-items: center;

    // Emoji
    span {
        font-size: 36px;
    }

     @media only screen and (min-width: 1024px) {
        margin-bottom: 36px;
    }
     @media only screen and (min-width: 1536px) {
        margin-bottom: 72px;
    }
}

.headline__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 36px;
    h1 {
        padding: 0 20px;
         @media only screen and (min-width: 1024px) {
            padding: 0;
        }
    }
}

.blue__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    & > :not(.texts__wrapper) {
        flex-shrink: 0;
    }
     @media only screen and (min-width: 1536px) {
        width: 75%;
    }
}

.texts__wrapper {
    flex-grow: 1;
    overflow-y: auto;
    // Place for scrollbar
    margin-right: -20px;
    padding-right: 20px;
    // Place for wave
    padding-bottom: 48px;

    .text {
        color: #ffeaa0;
        line-height: 150%;
        text-align: center;
        transition: color 300ms ease;
        margin-bottom: 16px;
         @media only screen and (min-width: 1024px) {
            text-align: left;
        }
    }
}

.yellow__wrapper {
    width: 100%;
    height: calc(30vw + 24px + 48px);
    background-color: #f4d566;

     @media only screen and (min-width: 1024px) {
        width: 35vw;
        height: 100%;
        display: flex;
        align-items: center;
        position: relative;
        padding-right: 64px;
    }
    @media only screen and (min-width: 1536px) {
        width: 40vw;
    }
}

.canvas__wrapper {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    height: 100%;
    padding: 24px 16px;
    padding-bottom: 48px;
     @media only screen and (min-width: 1024px) {
        flex-direction: column;
    }
}
