.canvas {
    max-width: 350px;
    // max-height: 50%;
     @media only screen and (min-width: 1024px) {
        max-height: 33%;
    }
}

@media only screen and (min-width: 1024px) {
    .canvas__left {
        place-self: start;
    }

    .canvas__center {
        place-self: center;
    }

    .canvas__right {
        place-self: end;
    }
}

.canvas__desktop {
    display: none;
    @media only screen and (min-width: 1024px) {
        display: block;
    }
}

.canvas__mobile {
    @media only screen and (min-width: 1024px) {
        display: none !important;
    }
}