.wave__mobile {
    position: fixed;
    bottom: calc(var(--yellow-height) - 2px);
    width: 100%;

    path {
        fill: #F4D566;
    }

     @media only screen and (min-width: 1024px) {
        display: none;
    }
}

.wave__desktop {
    display: none;
    position: fixed;
    top: 0;
    right: calc(var(--yellow-width) - 10px);
    height: 100%;

    path {
        fill: #F4D566;
    }

     @media only screen and (min-width: 1024px) {
        display: block;
    }
}