.wave__mobile {
    position: absolute;
    bottom: -2px;
    width: 100%;

    path {
        fill: #F4D566;
    }

     @media only screen and (min-width: 1024px) {
        display: none;
    }
}

.wave__desktop {
    display: none;
    position: absolute;
    top: 0;
    right: -10px;
    height: 100%;

    path {
        fill: #F4D566;
    }

     @media only screen and (min-width: 1024px) {
        display: block;
    }
}